#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  }

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

 



/* Estilização básica do input[type="file"] */
input[type='file'] {
  background-color: transparent;
  border-style: dashed;
  border: 1px solid #007bff; /* Cor da borda azul */
  border-radius: 18px; /* Borda arredondada */
  padding: 1px;
  cursor: pointer;
  outline: none; /* Remover a borda de foco padrão */
  width: 53%;  
  border-style: dashed;
}

/* Estilização do botão de upload específico para o Chrome */
input[type="file" i]::-webkit-file-upload-button { 
  color: black; /* Cor do texto branco */
  padding: 10px 15px; /* Espaçamento interno */
  border: 1px solid grey; /* Remover a borda */
  border-radius: 10px; /* Borda arredondada */
  margin-right: 1%;
  cursor: pointer; 
  background-color: transparent;
}
